# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test artifacts
*.test
*.out
coverage.html
profile.pprof

# Environment variables
.env
.env.local

# IDEs
.idea/
.vscode/
*.swp
*~

# OS specific
Thumbs.db
Desktop.ini
.DS_Store

# Temporary / Log files
*.log
